<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                              http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SubjectListServlet</servlet-name>
        <servlet-class>controller.admin.SubjectListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditStudentRegistration</servlet-name>
        <url-pattern>/student/editRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectListServlet</servlet-name>
        <url-pattern>/admin/subjectList</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>controller.AuthServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStudentRegistration</servlet-name>
        <servlet-class>controller.student.EditStudentRegistration</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TeacherServlet</servlet-name>
        <servlet-class>controller.TeacherServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TeacherServlet</servlet-name>
        <url-pattern>/teacher</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PoliceServlet</servlet-name>
        <servlet-class>controller.PoliceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PoliceServlet</servlet-name>
        <url-pattern>/police</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>controller.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BlogServlet</servlet-name>
        <servlet-class>controller.BlogServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BlogServlet</servlet-name>
        <url-pattern>/blog</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PostDetailServlet</servlet-name>
        <servlet-class>controller.PostDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostDetailServlet</servlet-name>
        <url-pattern>/post</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CourseDetailServlet</servlet-name>
        <servlet-class>controller.CourseDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CourseDetailServlet</servlet-name>
        <url-pattern>/CourseDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SliderListServlet</servlet-name>
        <servlet-class>controller.admin.SliderListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SliderListServlet</servlet-name>
        <url-pattern>/sliderlist</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SliderDetailServlet</servlet-name>
        <servlet-class>controller.admin.SliderDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SliderDetailServlet</servlet-name>
        <url-pattern>/sliderdetail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddSliderServlet</servlet-name>
        <servlet-class>controller.admin.AddSliderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddSliderServlet</servlet-name>
        <url-pattern>/addSlider</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HideSliderServlet</servlet-name>
        <servlet-class>controller.admin.HideSliderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HideSliderServlet</servlet-name>
        <url-pattern>/hideSlider</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShowSliderServlet</servlet-name>
        <servlet-class>controller.admin.ShowSliderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowSliderServlet</servlet-name>
        <url-pattern>/showSlider</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteSliderServlet</servlet-name>
        <servlet-class>controller.admin.DeleteSliderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteSliderServlet</servlet-name>
        <url-pattern>/deleteSlider</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CourseListServlet</servlet-name>
        <servlet-class>controller.CourseListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CourseListServlet</servlet-name>
        <url-pattern>/courseList</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterCourseServlet</servlet-name>
        <servlet-class>controller.student.RegisterCourseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterCourseServlet</servlet-name>
        <url-pattern>/register-course</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StudentDashboardServlet</servlet-name>
        <servlet-class>controller.student.StudentDashboardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentDashboardServlet</servlet-name>
        <url-pattern>/student/dashboard</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MyCoursesServlet</servlet-name>
        <servlet-class>controller.MyCoursesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyCoursesServlet</servlet-name>
        <url-pattern>/mycourses</url-pattern>
    </servlet-mapping>
    <!-- SubjectLessonServlet -->
    <servlet>
        <servlet-name>SubjectLessonServlet</servlet-name>
        <servlet-class>controller.SubjectLessonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubjectLessonServlet</servlet-name>
        <url-pattern>/subjectlesson</url-pattern>
    </servlet-mapping>
    <!-- SubjectDetailServlet -->
    <servlet>
        <servlet-name>SubjectDetailServlet</servlet-name>
        <servlet-class>controller.admin.SubjectDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubjectDetailServlet</servlet-name>
        <url-pattern>/subjectDetail</url-pattern>
    </servlet-mapping>
    <servlet>
    <servlet-name>PricePackageServlet</servlet-name>
    <servlet-class>controller.PricePackageServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>PricePackageServlet</servlet-name>
    <url-pattern>/pricePackageList</url-pattern>
</servlet-mapping>
</web-app>
